/* universal reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Nunito", sans-serif;
  max-width: 1440px;
  height: 100vh;
  background: url("img/background.png") center/cover no-repeat;
  position: relative;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* header */
header {
  left: 0;
  right: 0;
  top: 77px;
}
nav ul {
  width: 447px;
}
.btn {
  padding: 12px 32px;
}
/* main */
main {
  max-width: 1440px;
}
/* hero */
.hero {
  height: 800px;
}
.hero-items {
  height: 362px;
}
.play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
h1 {
  font-size: 72px;
}
.btn-hero a:last-child {
  border: solid #ffffff 1px;
  background-color: transparent;
  margin-left: 24px;
}
/* prodcuts */
.prodcuts {
  height: 1022px;
}
.text-section {
  width: 920px;
}
.text-section h2 {
  font-size: 64px;
  color: #2d2424;
}
.text-section p {
  margin-top: 24px;
}
.row:last-child {
  margin-top: 80px;
}
.group {
  width: 350px;
  height: 180px;
}
.group p {
  font-size: 14px;
  width: 250px;
}
.group-one::before {
  content: url(img/solid.svg);
}
.group-two::before {
  content: url(img/liquid.svg);
}
.group-three::before {
  content: url(img/ion.svg);
}
.group-four::before {
  content: url(img/plasma.svg);
}
.group-five::before {
  content: url(img/super.svg);
}
.group-six::before {
  content: url(img/ultra.svg);
}
/* testimonial */
.testimonial {
  background-color: #e0c097;
}
.testimonial-items {
  width: 1440px;
  position: relative;
  height: 600px;
}
.img-testimonial {
  width: 801.195px;
  border-radius: 50%;
  left: -11%;
  top: -25%;
}
.text-testimonial {
  width: 445px;
  height: 335px;
  left: 60%;
}
.profile {
  width: 210px;
}
.profile::before {
  content: url(img/profile.png);
}
/* features */
.features {
  height: 1022px;
}
.items {
  flex-wrap: wrap;
  row-gap: 40px;
}
.item {
  width: 540px;
}
.one::before {
  content: url(img/imgone.png);
}
.two::before {
  content: url(img/imgtwo.png);
}
.three::before {
  content: url(img/imgthree.png);
}
.four::before {
  content: url(img/imgfour.png);
}
.text-item {
  width: 310px;
  height: 157px;
}
/* blog */
.blog {
  height: 800px;
  background-color: #f7f9fc;
}
.text-blog {
  width: 445px;
  height: 500px;
}
.text-blog a {
  width: 156px;
}
.cards {
  width: 730px;
  margin-left: 30px;
}
.card {
  width: 350px;
  border-radius: 8px;
  background-color: #ffffff;
}
.text-img {
  margin: 25px 30px 79px;
  height: 246px;
}
.text-img q {
  font-size: 30px;
}
.card-one::before {
  content: url(img/imageone.png);
}
.card-two::before {
  content: url(img/imagetwo.png);
}
/* portfolio */
.portfolio {
  height: 420px;
}
.person {
  width: 350px;
  height: 290px;
}
.person-one::before {
  content: url(img/pone.png);
}
.person-two::before {
  content: url(img/ptwo.png);
}
.person-three::before {
  content: url(img/pthree.png);
}
/* footer */
footer {
  max-width: 1440px;
  background-color: #2d2424;
  height: 700px;
  padding: 160px 165px 0px;
}
.footer-top {
  border-bottom: #ffffff16 solid 1px;
  padding: 0px 0 120px;
}
.address h4 {
  font-size: 36px;
}
.title-footer {
  margin-bottom: 34px;
}
li a {
  margin: 24px 0;
}
form {
  border-radius: 8px;
  background: #ffffff2e;
  padding: 42px 23px;
}
label {
  margin-bottom: 24px;
}
.email {
  border-radius: 4px;
  width: 287.199px;
  outline: none;
  padding: 15px 0px 15px 19px;
  margin-right: 18px;
  font-size: 14px;
}
.go {
  padding: 18px 32px;
  cursor: pointer;
}
.socail-icons a {
  margin: 0 12px;
}
/* animation */
.click, .link, .scale {
  transition: all 0.4s;
}
.click:hover {
  color: #de683a;
  background-color: transparent;
  border: #ffffff solid 1px;
}
.link:hover {
  color: #de683a;
}
.scale:hover {
  scale: 1.1;
}
.card:hover {
  scale: 1.1;
  box-shadow: 4px 4px 40px 0px #0000001f;
}
.beat {
  animation: 1.3s infinite beat;
}
@keyframes beat {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1.02;
  }
}
/* class */
.block {
  display: block;
}
.absolute {
  position: absolute;
}
.max-width {
  max-width: 1110px;
}
.flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}
.jc-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.column {
  flex-direction: column;
}
.bg-orange {
  background-color: #b85c38;
}
.txt-white {
  color: #ffffff;
}
.txt-brown {
  color: #5c3d2e;
}
.txt-gray74 {
  color: #bdbdbd;
}
.txt-dark-gray {
  color: #333333;
}
.txt-orange {
  color: #b85c38;
}
.radius-40 {
  border-radius: 40px;
}
.margin-center {
  margin: 0 auto;
}
.txt-center {
  text-align: center;
}
.txt-bold {
  font-weight: 700;
}
.txt-18 {
  font-size: 18px;
}
.txt-xl {
  font-size: 20px;
}
.txt-2xl {
  font-size: 24px;
}
.txt-7xl {
  font-size: 48px;
}
.btn-padding {
  padding: 18px 32px;
}
.over-hidden {
  overflow: hidden;
}
.border-orange {
  border: #b85c38 solid 1px;
}
