:root {
  --Burnt_Orange: #b85c38;
  --Withe: #ffffff;
  --Dark_Brown: #2d2424;
  --Silver: #bdbdbd;
  --Desert_Sand: #e0c097;
  --Russet_Brown: #5c3d2e;
  --Black: #000000;
  --Dark_Gray: #333333;
  --Light_Steel_Blue: #f7f9fc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.font_nunito {
  font-family: "Nunito", sans-serif;
}
.flex {
  display: flex;
}
.items_center {
  align-items: center;
}
.justify_center {
  justify-content: center;
}
.justify_between {
  justify-content: space-between;
}
.flex_wrap {
  flex-wrap: wrap;
}
.text_center {
  text-align: center;
}
.button {
  color: var(--Withe);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 18px 32px;
  border: solid 2px;
  border-radius: 40px;
  transition: 0.7s;
}
.button_orange,
.button_transparent:hover {
  background-color: var(--Burnt_Orange);
  border-color: var(--Burnt_Orange);
}
.button_transparent,
.button_orange:hover {
  background-color: transparent;
  border-color: var(--Withe);
}
.header {
  width: 100%;
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--Withe);
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.header ul {
  gap: 50px;
}
.header ul a {
  font-size: 18px;
  transition: 0.7s;
}
.header .button {
  font-size: 18px;
  font-weight: 400;
  padding: 12px 32px;
}
.header ul a:hover {
  color: var(--Burnt_Orange);
}
.hero {
  min-height: 920px;
  background: url(./images/hero-background.png) center/ cover no-repeat;
  border-radius: 0px 0px 1600px 1600px / 0px 0px 360px 360px;
}
.hero_content {
  color: var(--Withe);
}
.play_button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--Burnt_Orange);
  border: 2px solid var(--Burnt_Orange);
  cursor: pointer;
  font-size: 24px;
  color: var(--Withe);
  transition: 0.7s;
}
.hero_content h1 {
  font-size: 72px;
  margin-top: 40px;
}
.hero_content p {
  font-size: 24px;
  margin: 29px 0 40px;
}
.hero_buttons {
  gap: 24px;
}
.play_button:hover {
  background-color: transparent;
  border-color: var(--Withe);
}
.products {
  padding: 120px 0;
}
.products h2 {
  color: var(--Dark_Brown);
  font-size: 64px;
}
.products > p {
  max-width: 920px;
  color: var(--Silver);
  font-size: 24px;
  line-height: 33px;
  margin: 24px auto 132px;
}
.products_cards_wrapper {
  gap: 80px;
}
.product_card {
  display: inline-block;
  transition: 0.7s;
  max-width: 350px;
}
.product_card h3 {
  color: var(--Burnt_Orange);
  font-size: 24px;
  margin-bottom: 18px;
}
.product_card h3::before {
  display: block;
  margin-bottom: 24px;
}
.product_card:nth-child(1) h3::before {
  content: url(./images/product_icon_1.png);
}
.product_card:nth-child(2) h3::before {
  content: url(./images/product_icon_2.png);
}
.product_card:nth-child(3) h3::before {
  content: url(./images/product_icon_3.png);
}
.product_card:nth-child(4) h3::before {
  content: url(./images/product_icon_4.png);
}
.product_card:nth-child(5) h3::before {
  content: url(./images/product_icon_5.png);
}
.product_card:nth-child(6) h3::before {
  content: url(./images/product_icon_6.png);
}
.product_card p {
  max-width: 250px;
  color: var(--Silver);
  font-size: 14px;
  line-height: 19px;
}
.product_card:hover {
  scale: 1.05;
}
.testimonial {
  height: 600px;
  background-color: var(--Desert_Sand);
  gap: 90px;
}
.testimonial img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 460px 460px 0;
}
.testimonial_content {
  max-width: 445px;
  color: var(--Russet_Brown);
}
.testimonial_content h2 {
  font-size: 48px;
  line-height: 65px;
}
.testimonial_content p {
  font-size: 24px;
  line-height: 33px;
  margin: 18px 0 24px;
}
.ceo {
  gap: 24px;
}
.ceo img {
  width: 64px;
  height: 64px;
}
.ceo h3 {
  color: var(--Dark_Brown);
  font-size: 18px;
  font-weight: 400;
}
.ceo span {
  display: block;
}
.features {
  padding: 110px 0 121px;
}
.features h2 {
  color: var(--Dark_Brown);
  font-size: 64px;
}
.features > p {
  color: var(--Silver);
  font-size: 24px;
  line-height: 33px;
  margin: 35px auto 90px;
}
.features_cards_wrapper {
  gap: 51px 30px;
}
.feature_card {
  max-width: 540px;
  gap: 30px;
  transition: 0.7s;
}
.feature_card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.feature_card h3 {
  color: var(--Black);
  font-size: 24px;
}
.feature_card p {
  color: var(--Silver);
  line-height: 160%;
  margin: 12px 0;
}
.feature_card a {
  color: var(--Burnt_Orange);
}
.feature_card:hover {
  scale: 1.03;
}
.blog {
  background-color: var(--Light_Steel_Blue);
}
.blog_container {
  max-width: 1209px;
  padding: 100px 0;
  margin: 0 auto;
  gap: 30px;
}
.blog_content {
  min-width: 445px;
  margin-top: 56px;
}
.blog_content h2 {
  color: var(--Dark_Gray);
  font-size: 48px;
  line-height: 65px;
}
.blog_content p {
  color: var(--Silver);
  font-size: 24px;
  line-height: 33px;
  margin: 24px 0 42px;
}
.blog_card_wrapper {
  gap: 30px;
}
.blog_card {
  width: 350px;
  height: 600px;
  border-radius: 8px;
  background-color: var(--Withe);
  transition: 0.7s;
}
.blog_card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog_card_content {
  padding: 25px 30px;
}
.blog_card_content h3 {
  color: var(--Dark_Gray);
  font-size: 30px;
  line-height: 41px;
}
.blog_card_content p {
  color: var(--Silver);
  font-size: 20px;
  line-height: 27px;
  margin: 24px 0 32px;
}
.blog_card_content a {
  color: var(--Burnt_Orange);
  font-size: 20px;
}
.blog_content .button:hover{
  border-color: var(--Burnt_Orange);
  color: var(--Burnt_Orange);
}
.blog_card:hover {
  box-shadow: 4px 4px 40px 0px #0000001f;
  scale: 1.03;
}
.portfolio {
  padding: 113px 0 81px;
}
.person {
  max-width: 350px;
  color: var(--Dark_Gray);
}
.person p {
  font-size: 24px;
  line-height: 33px;
}
.person p::before {
  display: block;
  margin-bottom: 24px;
}
.person:nth-child(1) p::before {
  content: url(./images/person_image_1.png);
}
.person:nth-child(2) p::before {
  content: url(./images/person_image_2.png);
}
.person:nth-child(3) p::before {
  content: url(./images/person_image_3.png);
}
.person h3 {
  font-size: 20px;
  margin: 24px 0 4px;
}
.person h4 {
  font-size: 16px;
  font-weight: 400;
}
.footer {
  min-height: 800px;
  position: relative;
  background-color: var(--Dark_Brown);
  align-items: flex-end;
  color: var(--Withe);
}
.footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 1600px 1600px / 0px 0px 360px 360px;
  width: 100%;
  height: 197px;
  background-color: var(--Withe);
}
.footer_container {
  width: 100%;
  padding: 272px 0 45px;
}
.column {
  flex-direction: column;
  gap: 34px;
}
.column ul {
  flex-direction: column;
  gap: 18px;
}
.column:nth-child(1) {
  max-width: 257px;
}
.column:nth-child(1) h2 {
  font-size: 36px;
}
.column:nth-child(2) ul a {
  font-weight: 700;
  transition: 0.7s;
}
.column:nth-child(2) ul a:hover {
  color: var(--Burnt_Orange);
}
.column h3 {
  font-size: 24px;
}
.form {
  padding: 42px 25px 40px;
  border-radius: 8px;
  background-color: #ffffff2e;
}
.form h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}
.inputs {
  gap: 18px;
}
.inputs input:nth-child(1) {
  width: 287px;
  border-radius: 4px;
  background-color: var(--Withe);
  padding: 18px 19px;
  border: 2px solid var(--Withe);
  outline: none;
}
.inputs input:nth-child(1)::placeholder {
  font-size: 14px;
}
.inputs .button {
  font-size: 18px;
  cursor: pointer;
}
.footer_line {
  display: block;
  width: 100%;
  height: 1px;
  margin: 79px 0 40px;
  background-color: var(--Withe);
}
.footer_sub p {
  font-size: 12px;
}
.footer_sub ul {
  gap: 14px;
}
.social_media_icons a {
  transition: 0.7s;
}
.social_media_icons a:hover {
  color: var(--Burnt_Orange);
}
